{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.name %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

  </div><!--//profile-container-->
  <!-- Rounded switch -->

  {% include contact.html %}

  {% if sidebar.education %}
    {% include education.html %}
  {% endif %}

  {% include language.html %}
  {% comment %}{%include interests.html %}{%endcomment%}

  {% if sidebar.about %}
    {% include about.html %}
  {% endif %}

  <div id="config" style="position:fixed; width:inherit;bottom:0">
    
    <div class="configrow" >
      <div class="col-md-9">
      <span style="position:relative;top:2px; ">Display Data Science Skills</span>
      </div>
      <div class="col-md-3">
      <label class="switch">       
        <input class="config config-data" id="toggle-data" type="checkbox" tag="data" checked>
        <span class="slider round"></span>        
      </label>
      </div>
    </div>
    <div class="configrow">
        <div class="col-md-9">      
          <span style="position:relative;top:2px; ">Display Biotech Skills</span>
        </div>
        <div class="col-md-3">
          <label class="switch"> 
            <input class="config config-bio" id="toggle-bio" type="checkbox" tag="bio" checked>
            <span class="slider round"></span>          
          </label>   
        </div>
      </div>
      <div class="configrow">
        <div class="col-md-9">          
          <span style="position:relative;top:2px; ">Display Developer Skills</span>
        </div>
        <div class="col-md-3">
        <label class="switch"> 
          <input class="config config-dev" id="toggle-dev" type="checkbox" tag="dev" checked>
          <span class="slider round"></span>
        </label>
        </div>
      </div>
      <div class="configrow">
        <div class="col-md-9">      
      <span style="position:relative;top:2px; ">Display Soft Skills</span>
      </div>
      <div class="col-md-3">
      <label class="switch"> 
        <input class="config config-soft" id="toggle-soft" type="checkbox" tag="soft" checked>
        <span class="slider round"></span>
      </label>   
      </div>   
    </div>
  </div>

</div><!--//sidebar-wrapper-->
