---

---

@charset "utf-8";

@import "skins/{{ site.theme_skin | default: 'blue' }}"; // skin
@import "default"; // main partials

.bg-academia {
    padding:4px;
    width:80px;
    background-color: #198754!important;
    border-radius: 5px !important;
}
.bg-teaching {
    padding:4px;
    width:80px;
    background-color: #0d6efd!important;
    border-radius: 5px !important;
    
}
.bg-industry {
    padding:4px;
    width:80px;
    background-color: #c49300!important;
    border-radius: 5px !important;
}

.skill-data {
    background-color: #c4b700!important;
    
}
.skill-bio {
    background-color: #7fc400!important;
}
.skill-dev {
    background-color: #1da1aa!important;
}
.skill-soft {
    background-color: #4580da!important;
}

.skills-title {
    font-size:14px;
}

/* The switch - the box around the slider */
.switch {
position: relative;
display: inline-block;
width: 40px;
height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;

-webkit-transition: .4s;
transition: .4s;
border: 1px #FFF solid;
}

.slider:before {
position: absolute;
content: "";
height: 15px;
width: 15px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}


.config-data:checked + .slider {
    background-color: #c4b700!important;
}
.config-bio:checked + .slider {
    background-color: #7fc400!important;
}
.config-dev:checked + .slider {
    background-color: #1da1aa!important;
}
.config-soft:checked + .slider {
    background-color: #4580da!important;
}

.config-data:not(:checked) + .slider {
    box-shadow: -2px -2px #c4b700;
    border-color: #c4b700!important;
}
.config-bio:not(:checked) + .slider {
    box-shadow: -2px -2px #7fc400;
    border-color: #7fc400!important;
}
.config-dev:not(:checked) + .slider {
    box-shadow: -2px -2px #1da1aa;
    border-color: #1da1aa!important;
}
.config-soft:not(:checked) + .slider {
    box-shadow: -2px -2px #4580da;
    border-color: #4580da!important;
}

.config:checked + .slider:before {
-webkit-transform: translateX(14px);
-ms-transform: translateX(14px);
transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

.details {
    display:none;
}

.summary-grayed {
    color: #CCC !important;
    font-weight:300;
}

/*#config {
    position:fixed; 
    width:inherit;
    bottom:0;
    text-align:center; 
    padding:15px 0;
    background-color:#333;
}*/

.legend {
    font-size:80%;
    padding:0;

}

.readmore {
    cursor:pointer;
}

.configrow {
    display:block;
    text-align: left;    
}

#config {        
    position:fixed;        
    bottom:0;
    text-align:center; 
    padding:15px 0;
    background-color:#333;
}

